{% load i18n %}
<div id="questions_div">
<p>{% blocktrans %}
    To cast a vote, you will be led through the following steps.<br />
    You will <em>not</em> be asked to log in until the very end of the process.{% endblocktrans %}
<p>
    
<ol>
    <li> {% trans "<b>Select</b> your options." %}<br />
<span style="font-size: 14pt;">{% trans "Answer the questions, and review your choices." %}</span></li>
<br />

    <li> {% trans "<b>Encrypt</b> your selection." %}<br />
<span style="font-size: 14pt;">
{% blocktrans %}
  Your selection is encrypted safely inside in your browser.<br />
  A smart ballot tracker is given to let you track your ballot.<br />{% endblocktrans %}
</span>
</li>
<br />

    <li> {% trans "<b>Submit</b> your encrypted ballot." %}<br />
<span style="font-size: 14pt;">
{% trans "Proceed to log in and cast your encrypted ballot for tallying." %}
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">{% trans "Start" %}</button></div>
</div>

