{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{{cast_vote.vote_tinyhash}} &mdash; {{election.name}}{% endblock %}
{% block content %}
<h2 class="title">{% blocktrans with cast_vote.vote_tinyhash as hash %}Cast Vote {{hash}}{% endblocktrans %}</h2>
{% url helios.views.one_election_view election.uuid as url_election %}
{% blocktrans with election.name election_name and cast_vote.vote_hash as vote_hash%}
cast in <a href="{{url_election}}">{{election_name}}</a><br />
Fingerprint: <tt>{{vote_hash}}</tt><br />
by <b><u>
{% endblocktrans %}
{% if the_voter.alias %}
{{the_voter.alias}}
{% else %}
{{the_voter.name}}
{% endif %}
</u></b>
<br /><br />
<a href="#" onclick="$('#castvote_content').slideToggle(250); return false;">{% trans "details" %}</a><br /><br />
<div style="display:none;" id="castvote_content">
<textarea cols="100" rows="10">
{{vote_content}}
</textarea>
</div>
<br /><br />




{% endblock %}
