{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% blocktrans with election.name as election_name %}Release Tally &mdash; {{election_name}}{% endblocktrans %}{% endblock %}
{% block content %}
  <h2 class="title">{% blocktrans with election.name as election_name %}{{election_name}} &mdash; Release Tally{% endblocktrans %} <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">{% trans "cancel" %}</a>]</span></h2>

  <p>
    {% trans "You are about to release the tally for this election" %}
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" value="{% trans "release the tally!" %}" />
  </form>

{% endblock %}
