{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Statistics" %}{% endblock %}

{% block content %}
<h1>{% trans "Elections" %}</h1>

<p>
{% if elections_page.has_previous %}
<a href="?page={{elections_page.previous_page_number}}&limit={{limit}}">{% blocktrans %}previous {{limit}}{% endblocktrans %}</a> &nbsp;&nbsp;
{% endif %}

{% trans "Elections" %} {{elections_page.start_index}} - {{elections_page.end_index}}&nbsp;&nbsp;

{% if elections_page.has_next %}
<a href="?page={{elections_page.next_page_number}}&limit={{limit}}">{% blocktrans %}next {{limit}}{% endblocktrans %}</a> &nbsp;&nbsp;
{% endif %}
</p>

{% for election in elections %}
<p>
{% url helios.views.one_election_view election.uuid as one_election_view %}
{% blocktrans with election.name as election_name and election.admin.info.email as email and election.admin.pretty_name as pretty_name and election.num_voters as num_voters and election.num_cast_votes as num_cast_votes%}
<b><a href="{{one_election_view}}">{{election._ame}}</a></b> by <a href="mailto:{{email}}">{{pretty_name}}</a> -- {{num_voters}} voters / {{num_cast_votes}} cast votes{% endblocktrans %}
</p>
{% endfor %}

{% endblock %}
